<div>
    <div class="wizard-content">
        <div class="tab-wizard wizard-circle wizard">
            <div class="steps clearfix">
                <ul role="tablist">
                    <li role="tab" class="first" :class="clase_opcion(17)" aria-disabled="false" aria-selected="true">
                        <a id="steps-uid-0-t-0" href="#" aria-controls="steps-uid-0-p-0">
                            <span class="current-info audible">current step: </span>
                            <span class="step">17</span>
                            Municipios que no inspeccionaron
                        </a>
                    </li>

                    <li role="tab" :class="clase_opcion(18)">
                        <a id="steps-uid-0-t-2" href="#" aria-controls="steps-uid-0-p-2">
                            <span class="step">18</span>
                            Municipios que no tomaron medidas
                        </a>
                    </li>

                    <li role="tab" :class="clase_opcion(19)">
                        <a id="steps-uid-0-t-2" href="#" aria-controls="steps-uid-0-p-2">
                            <span class="step">19</span>
                            Municipios que no tienen inspectores
                        </a>
                    </li>

                    <li role="tab" class="last" :class="clase_opcion(20)">
                        <a id="steps-uid-0-t-2" href="#" aria-controls="steps-uid-0-p-2">
                            <span class="step">20</span>
                            Municipios con mayor número de notificaciones
                        </a>
                    </li>
                </ul>
            </div>
            <br>

            <div style="padding: 10px!important;">
                <!--No inspeccionaron-->
                <div v-show="opcion == 17">
                    <validation-observer ref="noInspeccionaronObserver" v-slot="{ invalid }">
                        <h5>Municipios que no inspeccionaron</h5>

                        <section class="mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Municipios</label>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <select id="selectNoInspeccionaron" class="custom-select2 form-control"
                                                    name="state"
                                                    style="display:inline-block;width: 100%; height: 38px;">
                                                    <option disabled value="">Seleccionar municipio</option>
                                                    <optgroup v-for="(list_municipios, provincia) in provincias"
                                                        :label="provincia">
                                                        <option v-for="municipio in list_municipios"
                                                            :value="municipio.id">
                                                            [[ municipio.nombre ]]
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <button class="btn btn-success" @click="addNoInspeccionaron()">
                                                    <span><i class="fa fa-plus"></i></span>
                                                    Añadir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" v-show="datos.inspeccion_sanitaria_estatal.municipio_no_salieron.length">
                                <div class="col-md-12">
                                    <p style="color: red;" v-show="existeNoInspeccion">
                                        El municipio ya fue seleccionado
                                    </p>
                                </div>

                                <!--Tabla de municipios-->
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Municipio</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(municipio, key) in datos.inspeccion_sanitaria_estatal.municipio_no_salieron">
                                                    <th scope="row">
                                                        [[ municipio.nombre ]]
                                                    </th>

                                                    <th scope="row">
                                                        <button class="btn btn-danger"
                                                            @click="quitarNoInspeccionaron(key)"><span><i
                                                                    class="fa fa-trash"></i></span></button>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="!datos.inspeccion_sanitaria_estatal.municipio_no_salieron.length">
                                <div class="col-md-12 text-left">
                                    <h6>No se han añadido municipios</h6>
                                </div>
                            </div>


                        </section>
                    </validation-observer>
                </div>

                <!--No tomaron medidas-->
                <div v-show="opcion == 18">
                    <validation-observer ref="noMedidasObserver" v-slot="{ invalid }">
                        <h5>Municipios que no tomaron medidas</h5>

                        <section class="mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Municipios</label>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <select id="selectNoMedidas" class="custom-select2 form-control"
                                                    name="state"
                                                    style="display:inline-block;width: 100%; height: 38px;">
                                                    <option disabled value="">Seleccionar municipio</option>
                                                    <optgroup v-for="(list_municipios, provincia) in provincias"
                                                        :label="provincia">
                                                        <option v-for="municipio in list_municipios"
                                                            :value="municipio.id">
                                                            [[ municipio.nombre ]]
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <button class="btn btn-success" @click="addNoMedidas()">
                                                    <span><i class="fa fa-plus"></i></span>
                                                    Añadir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" v-show="datos.inspeccion_sanitaria_estatal.municipio_no_medidas.length">
                                <div class="col-md-12">
                                    <p style="color: red;" v-show="existeNoMedidas">
                                        El municipio ya fue seleccionado
                                    </p>
                                </div>

                                <!--Tabla de municipios-->
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Municipio</th>

                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(municipio, key) in datos.inspeccion_sanitaria_estatal.municipio_no_medidas">
                                                    <th scope="row">
                                                        [[ municipio.nombre ]]
                                                    </th>

                                                    <th scope="row">
                                                        <button class="btn btn-danger"
                                                            @click="quitarNoMedidas(key)"><span><i
                                                                    class="fa fa-trash"></i></span></button>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="!datos.inspeccion_sanitaria_estatal.municipio_no_medidas.length">
                                <div class="col-md-12 text-left">
                                    <h6>No se han añadido municipios</h6>
                                </div>
                            </div>


                        </section>
                    </validation-observer>
                </div>


                <!--No tienen inspectores-->
                <div v-show="opcion == 19">
                    <validation-observer ref="noInspectoresObserver" v-slot="{ invalid }">
                        <h5>Municipios que no tienen inspectores</h5>

                        <section class="mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Municipios</label>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <select id="selectNoInspectores" class="custom-select2 form-control"
                                                    name="state"
                                                    style="display:inline-block;width: 100%; height: 38px;">
                                                    <option disabled value="">Seleccionar municipio</option>
                                                    <optgroup v-for="(list_municipios, provincia) in provincias"
                                                        :label="provincia">
                                                        <option v-for="municipio in list_municipios"
                                                            :value="municipio.id">
                                                            [[ municipio.nombre ]]
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <button class="btn btn-success" @click="addNoInspectores()">
                                                    <span><i class="fa fa-plus"></i></span>
                                                    Añadir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row"
                                v-show="datos.inspeccion_sanitaria_estatal.municipio_no_inspectores.length">
                                <div class="col-md-12">
                                    <p style="color: red;" v-show="existeNoInspectores">
                                        El municipio ya fue seleccionado
                                    </p>
                                </div>

                                <!--Tabla de municipios-->
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Municipio</th>

                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(municipio, key) in datos.inspeccion_sanitaria_estatal.municipio_no_inspectores">
                                                    <th scope="row">
                                                        [[ municipio.nombre ]]
                                                    </th>

                                                    <th scope="row">
                                                        <button class="btn btn-danger"
                                                            @click="quitarNoInspectores(key)"><span><i
                                                                    class="fa fa-trash"></i></span></button>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                                v-show="!datos.inspeccion_sanitaria_estatal.municipio_no_inspectores.length">
                                <div class="col-md-12 text-left">
                                    <h6>No se han añadido municipios</h6>
                                </div>
                            </div>


                        </section>
                    </validation-observer>
                </div>


                <!--No tienen inspectores-->
                <div v-show="opcion == 20">
                    <validation-observer ref="mayorNotificacionesObserver" v-slot="{ invalid }">
                        <h5>Municipios con mayor número de notificaciones impuestas</h5>

                        <section class="mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Municipios</label>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <select id="selectMayorNotificaciones"
                                                    class="custom-select2 form-control" name="state"
                                                    style="display:inline-block;width: 100%; height: 38px;">
                                                    <option disabled value="">Seleccionar municipio</option>
                                                    <optgroup v-for="(list_municipios, provincia) in provincias"
                                                        :label="provincia">
                                                        <option v-for="municipio in list_municipios"
                                                            :value="municipio.id">
                                                            [[ municipio.nombre ]]
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <button class="btn btn-success" @click="addMayorNotificaciones()">
                                                    <span><i class="fa fa-plus"></i></span>
                                                    Añadir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row"
                                v-show="datos.inspeccion_sanitaria_estatal.municipio_mayor_notificaciones.length">
                                <div class="col-md-12">
                                    <p style="color: red;" v-show="existeMayorNotificaciones">
                                        El municipio ya fue seleccionado
                                    </p>
                                </div>

                                <!--Tabla de municipios-->
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Municipio</th>

                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(municipio, key) in datos.inspeccion_sanitaria_estatal.municipio_mayor_notificaciones">
                                                    <th scope="row">
                                                        [[ municipio.nombre ]]
                                                    </th>

                                                    <th scope="row">
                                                        <button class="btn btn-danger"
                                                            @click="quitarMayorNotificaciones(key)"><span><i
                                                                    class="fa fa-trash"></i></span></button>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                                v-show="!datos.inspeccion_sanitaria_estatal.municipio_mayor_notificaciones.length">
                                <div class="col-md-12 text-left">
                                    <h6>No se han añadido municipios</h6>
                                </div>
                            </div>


                        </section>
                    </validation-observer>
                </div>
            </div>


            <!--Botones de wizard-->
            <div class="col-md-12 text-right mt-4">
                <button class="btn btn-danger" v-show="opcion > 1" @click="decrementarOpcion()"
                    :disabled="btnLoading">Atrás</button>

                <button class="btn btn-success" v-show="opcion < 20" @click="incrementarOpcion()">Siguiente</button>

                <button class="btn btn-success" v-show="opcion == 20 && !btnLoading"
                    @click="finalizar()">Finalizar</button>
                <button class="btn btn-success" v-show="opcion == 20 && btnLoading" disabled>Guardando...</button>
            </div>

        </div>
    </div>


</div>