{{extend 'layout_frontend.html'}}

{{block head}}
<style>
    .card-box h6 {
        margin-bottom: 10px;
    }
</style>
{{end head}}

<a href="{{=URL('ingreso_hospitalario', 'administrar')}}" class=" mb-10 btn btn-primary"> <span><i
            class="fa fa-list"></i></span>
    Administrar</a>

<div class="row">
    <div class="col-md-12 mb-30">
        <div class="pd-20 card-box">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="h4 text-green mb-20">Detalles</h5>
                </div>
                <div class="col-md-6 text-right">
                    
                    <a href="{{=URL('ingreso_hospitalario', 'cambiar_estado', args=ingreso.id)}}" title="Cambiar estado"
                        class=" mb-10 btn btn-info"> <span><i class="fa fa-refresh"></i></span>
                    </a>
                    
                    {{if not auth.has_membership('Administrador'):}}
                    <a href="{{=URL('ingreso_hospitalario', 'editar', args=ingreso.id)}}" title="Editar"
                        class=" mb-10 btn btn-success"> <span><i class="fa fa-pencil"></i></span>
                    </a>
                    {{pass}}
                </div>
            </div>

            <h5>{{=ingreso.idubicacion.nombre}}</h5>
            <br>

            <h6>Nombre: {{=ingreso.nombre}}</h6>
            <h6>Apellidos: {{=ingreso.apellidos}}</h6>
            <h6>Edad: {{=ingreso.edad}}</h6>
            <h6>Carnet de identidad: {{=ingreso.ci}}</h6>
            <h6>Sexo: {{=ingreso.sexo}}</h6>

            {{vacunado = 'Si' if ingreso.vacunado else 'No'}}
            {{if ingreso.vacunado:}}
            <br>
            <h6>Vacunado: {{=vacunado}}</h6>
            <h6>Tipo de vacunación: {{=ingreso.tipo_vacunacion}}</h6>
            <h6>Vacuna: {{=ingreso.vacuna}}</h6>
            {{else:}}
            <h6>Vacunado: {{=vacunado}}</h6>
            {{pass}}
            
            <br>
            <h6>Fecha de ingreso: {{=ingreso.fecha_ingreso.strftime("%d-%m-%Y")}}</h6>
            <h6>Estado: {{=ingreso.estado}}</h6>
            {{if ingreso.estado == 'Alta':}}
            <h6>Fecha de alta médica: {{=ingreso.fecha_alta.strftime("%d-%m-%Y")}}</h6>
            {{elif ingreso.estado == 'Fallecido':}}
            <h6>Fecha de muerte: {{=ingreso.fecha_alta.strftime("%d-%m-%Y")}}</h6>
            {{pass}}
            
        </div>
    </div>
</div>