<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DataCovid</title>

	<!-- Site favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="{{=URL('static','images/data/icon_32.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','images/data/icon_16.png')}}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static/frontend','vendors/styles/core.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static/frontend','vendors/styles/icon-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static/frontend','vendors/styles/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static/frontend','src/styles/custom.css')}}">


	<!-- Toastr -->
	<link rel="stylesheet" href="{{=URL('static','vendor/toastr/toastr.min.css')}}">

	<!-- Sweetalert -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static','vendor/sweetalert2/sweetalert.css')}}">



	<style>
		.toast-top-right {
			margin-top: 70px !important;
		}

		.error {
			color: red;
		}
	</style>
	{{block head}}

	{{end}}
</head>

<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="{{=URL('static','images/data/icon_light_green.png')}}" alt="">
			</div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Cargando...
			</div>
		</div>
	</div>

	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="{{=URL('static','images/user.png')}}" alt="">
						</span>
						<span class="user-name">{{=auth.user.username}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="{{=URL('usuario', 'perfil')}}"><i class="dw dw-user1"></i>
							Perfil</a>
						{{if auth.user.username != "admin":}}
						<a class="dropdown-item" href="{{=URL('usuario', 'editar_perfil')}}"><i
								class="dw dw-pencil"></i> Editar perfil</a>
						{{pass}}
						<a class="dropdown-item" href="{{=URL('usuario', 'cambiar_clave')}}"><i
								class="dw dw-refresh"></i> Cambiar contraseña</a>
						<a class="dropdown-item" href="{{=URL('usuario', 'logout')}}"><i class="dw dw-logout"></i>
							Cerrar sesión</a>
					</div>
				</div>
			</div>
			<!-- <div class="github-link">
				<a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
			</div> -->
		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-green">
				Configuración
				<span class="btn-block font-weight-400 font-12">Configuración de la interfaz</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Fondo de barra superior</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">Claro</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Oscuro</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Fondo de barra lateral</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">Claro</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Oscuro</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Icono de menú principal</h4>
				<div class="sidebar-radio-group pb-10 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-1" checked="">
						<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-2">
						<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-3">
						<label class="custom-control-label" for="sidebaricon-3"><i
								class="fa fa-angle-double-right"></i></label>
					</div>
				</div>

				<h4 class="weight-600 font-18 pb-10">Icono de la lista del menú</h4>
				<div class="sidebar-radio-group pb-30 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-1" checked="">
						<label class="custom-control-label" for="sidebariconlist-1"><i
								class="ion-minus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-2">
						<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
								aria-hidden="true"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-3">
						<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-4" checked="">
						<label class="custom-control-label" for="sidebariconlist-4"><i
								class="icon-copy dw dw-next-2"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-5">
						<label class="custom-control-label" for="sidebariconlist-5"><i
								class="dw dw-fast-forward-1"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-6">
						<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
					</div>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Configuración por defecto</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="index.html">
				<img src="{{=URL('static','images/data/icon_light_green.png')}}" alt="" class="dark-logo">
				<img src="{{=URL('static','images/data/icon_dark_green.png')}}" alt="" class="light-logo">


			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					{{for _item in response.menu or []:}}
					{{if _item[0] == "Divisor":}}
					<li>
						<div class="dropdown-divider"></div>
					</li>
					{{elif len(_item)<4 or not _item[3]:}} <li>
						<a href="{{=_item[2]}}" class="dropdown-toggle no-arrow {{if _item[1]:}}active{{pass}}">
							<span class="micon dw {{=iconos.get(_item[0], None )}}"></span><span
								class="mtext">{{=_item[0]}}</span>
						</a>
						</li>
						{{else:}}
						<li class="dropdown {{if _item[1]:}}show{{pass}}">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon dw {{=iconos.get(_item[0], None )}}"></span><span
									class="mtext">{{=_item[0]}}</span>
							</a>
							<ul class="submenu">
								{{for _subitem in _item[3]:}}
								<li><a href="{{=_subitem[2]}}"
										class="{{if _subitem[1]:}}active{{pass}}">{{=_subitem[0]}}</a></li>
								{{pass}}
							</ul>
						</li>
						{{pass}}
						{{pass}}


				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				{{include}}
			</div>

			<div class="footer-wrap pd-20 mb-20 card-box">
				DATACOVID - Desarrollado por la EICMA y el grupo AltaGama - Ciego de
				Ávila
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="{{=URL('static/frontend','vendors/scripts/core.js')}}"></script>
	<script src="{{=URL('static/frontend','vendors/scripts/script.min.js')}}"></script>
	<script src="{{=URL('static/frontend','vendors/scripts/process.js')}}"></script>
	<script src="{{=URL('static/frontend','vendors/scripts/layout-settings.js')}}"></script>
	<script src="{{=URL('static/frontend','src/scripts/setting.js')}}"></script>


	<script src="{{=URL('static','vendor/toastr/toastr.min.js')}}"></script>

	<script src="{{=URL('static','vendor/sweetalert2/sweetalert.min.js')}}"></script>

	<script>
		const preloader = () => {
			$('.pre-loader').fadeOut();
		};

		$(document).ready(function () {
			preloader();
		});
	</script>


	{{if session.msg and session.status:}}
	<script>
		$(document).ready(function () {
			toastr.success('{{=session.msg}}', 'Notificación', {
				timeOut: 3000,
				"closeButton": true,
				"debug": false,
				"newestOnTop": true,
				"progressBar": true,
				"positionClass": "toast-top-right",
				"preventDuplicates": true,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "500",
				//"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut",
				"tapToDismiss": true

			})
		});
	</script>
	{{session.msg=""}}
	{{session.status=False}}
	{{pass}}
	{{if session.msg and session.error:}}
	<script>
		$(document).ready(function () {
			toastr.error('{{=session.msg}}', 'Error', {
				timeOut: 3000,
				"closeButton": true,
				"debug": false,
				"newestOnTop": true,
				"progressBar": true,
				"positionClass": "toast-top-right",
				"preventDuplicates": true,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "500",
				//"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut",
				"tapToDismiss": true

			})
		});
	</script>
	{{session.msg=""}}
	{{session.error=False}}
	{{pass}}

	{{block page_js}}{{end page_js}}
</body>

</html>