{{extend 'layout_frontend.html'}}

{{block head}}
<style>
    .text-red {
        color: red;
    }
</style>
{{end head}}

<a href="{{=URL('evento', 'administrar')}}" class=" mb-10 btn btn-primary"> <span><i class="fa fa-list"></i></span>
    Administrar</a>

<div id="container">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <h4 class="text-blue h4">Crear evento</h4>
        </div>

        <div class="mt-4">
            {{=form.custom.begin}}

            <div class="row mb-10">
                <div class="col-md-4 mb-2">
                    {{=form.custom.label.nombre}} <span class="text-red">*</span>
                    <div class="">{{=form.custom.widget.nombre}}</div>
                </div>           

            </div>
            
            <div class="row  mb-20">
                
                <div class="col-md-4">
                    {{=form.custom.label.tipo_evento}} <span class="text-red">*</span>
                    <div class="">{{=form.custom.widget.tipo_evento}}</div>
                </div>    
            </div>

            <div class="row">
                <div class="col-md-4 mb-5">
                    {{=form.custom.label.idmunicipio}} <span class="text-red">*</span>
                    <div class="">{{=form.custom.widget.idmunicipio}}</div>
                </div>
            </div>

            <br>
            {{=form.custom.submit}}
            {{=form.custom.end}}
        </div>


    </div>

</div>

{{block page_js}}

<script>
    $("select").select2();

    const tipo_evento = document.querySelector("#eventos_tipo_evento");
    const idmunicipio = document.querySelector("#eventos_idmunicipio");

    tipo_evento.removeChild(tipo_evento.firstChild);
    idmunicipio.removeChild(idmunicipio.firstChild);
</script>

{{end page_js}}