{{extend 'layout_frontend.html'}}

{{block head}}{{end head}}

<div id="container">

    <div class="mb-3">
        {{=A(SPAN(I(_class= "fa fa-list"), ' Administrar'),_href=URL('usuario', 'administrar',args=[]), _class='btn btn-success')}}
    </div>
    
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <h4 class="text-green h4">Cambiar contraseña</h4>
        </div>

        <div class="mt-4">

            <div class="mt-4">
                {{=form.custom.begin}}

                <div class="row">
                    <div class="col-sm-4">
                        {{=form.custom.label.password}}
                        <div class="mb-2">{{=form.custom.widget.password}}</div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-sm-4">
                        {{=form.custom.label.repeat}}
                        <div class="mb-2">{{=form.custom.widget.repeat}}</div>
                    </div>
                </div>

                <br>
                {{=form.custom.submit}}
                {{=form.custom.end}}
            </div>
        </div>


    </div>

</div>


{{block page_js}}
{{end page_js}}